/* GENERAL */
* {
  /* border: 1px solid blue; */
}

:root {
  --dark: rgb(73, 0, 116);
  --light: #0f0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--light);
}

.App {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 1400px;
  box-sizing: border-box;
}

/* HEADER */
.header {
  background-color: #000000;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
  max-width: 1400px;
}

#logo-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
}

#logo-text h1 {
  margin-left: 10px;
  font-size: 1.5rem;
}

#logo {
  width: 70px;
  height: auto;
}

.header form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.header form button {
  margin-left: 5px;
  padding: 10px;
  border-radius: 5px;
}

.header p {
  font-size: 1.5 rem;
}

.header #search-box {
  height: 2rem;
  padding: 5px;
  border-radius: 1px;
  font-size: 1.5 rem;
  width: 400px;
}

#search {
  font-size: 1rem;
  margin-right: 5px;
}

.header input {
  font-size: 1rem;
}

/* ITEM LIST / ITEMS */

.results-message {
  display: block;
  color: white;
}

main {
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  /* align-items: flex-start;
  justify-content: center; */
  width: 90%;
  max-width: 1400px;
  padding: 20px;
}

.items-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  /* border: 2px red solid; */
  width: 100%;
}

.headline-item-frame {
  position: relative;
  /* padding: 10px; */
  width: 27%;
  margin: 9px 0px;
  background-image: linear-gradient(
    45deg,
    #000000 25%,
    #00ff00 25%,
    #00ff00 50%,
    #000000 50%,
    #000000 75%,
    #00ff00 75%,
    #00ff00 100%
  );
  background-size: 56.57px 56.57px;
  /* background: repeating-linear-gradient(
    45deg,
    #606dbc,
    #343b67 10px,
    #98466c 10px,
    #469851 20px
  ); */
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.301);
  /* border: 1px red solid; */
}

.headline-item {
  position: relative;
  top: 7px;
  right: -15px;
  left: 7px;
  bottom: -20px;
  /* margin: 5px 50px 0px 40px; */
  background-color: white;
  width: auto;
  height: auto;
  padding: 10px 25px;
  /* border: 1px black solid; */
}

.headline-title {
  font-size: 2rem;
  font-weight: 500;
  margin-right: 10px;
  margin-bottom: 0px;
  text-decoration: none;
  color: black;
  font-weight: 700;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.headline-url,
.headline-details {
  font-size: 0.8rem;
  color: grey;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

/* FOOTER */
.firstFooter {
  color: white;
  background-color: #ff7316;
  position: relative;
  width: 50%;
  padding: 2em 2em;
}

/* RESPONSIVE STYLES */

/* @media screen and (max-width: 1090px) {
  .headline-item {
    width: 40%;
  }
}

@media screen and (max-width: 500px) {
  .headline-item {
    width: 100%;
  }
} */
