/* GENERAL */
* {
  /* border: 1px solid blue; */
}

:root {
  --dark: rgb(73, 0, 116);
  --light: #0f0;
  background-color: black;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--light);
}

.App {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 1400px;
  box-sizing: border-box;
}

/* HEADER */
.header {
  background-color: #000000;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
  max-width: 1400px;
}

#logo-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
}

#logo-text h1 {
  margin-left: 10px;
  font-size: 1.5rem;
}

#logo {
  width: 70px;
  height: auto;
}

.header {
  padding: 10px;
}

.header form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.header input {
  background-color: black;
  height: 44px;
  width: 400px;
  border: 2px solid #0f0;
  color: white;
  font-size: 1.6rem;
}

.header form button {
  margin-left: 10px;
  padding: 10px 20px;
  /* border-radius: 7px; */
  background: rgb(34, 195, 61);
  background: linear-gradient(
    0deg,
    rgba(34, 195, 61, 1) 0%,
    rgba(77, 253, 45, 1) 100%
  );
  border: 0px;
  /* color: white; */
  font-size: 1rem;
}

.header p {
  font-size: 1.2 rem;
}

.header #search-box {
  height: 2.5rem;
  padding: 5px;
  border-radius: 1px;
  font-size: 1.5 rem;
  width: 600px;
}

#search {
  font-size: 1rem;
  margin-right: 5px;
}

/* ITEM LIST / ITEMS */

.results-message {
  display: block;
  color: white;
  margin-left: 30px;
}

#search-text {
  color: red;
}
main {
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 90%;
  max-width: 1400px;
  padding: 20px;
  margin: auto;
}

.instructions {
  font-size: 1.8rem;
}

#green {
  color: #0f0;
}

/* OLD VERSION */
/*
.items-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  border: 2px red solid;
  width: 100%;
}
*/

.items-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  /* border: 2px red solid; */
  width: 100%;
}

.headline-item-frame {
  position: relative;
  /* padding: 10px; */
  /* width: 27%; */
  /* margin: 9px 0px; */
  overflow: auto;

  padding: 10px;

  /* background-image: linear-gradient(
    45deg,
    #000000 25%,
    #00ff00 25%,
    #00ff00 50%,
    #000000 50%,
    #000000 75%,
    #00ff00 75%,
    #00ff00 100%
  ); */
  background-size: 56.57px 56.57px;
  /* background: repeating-linear-gradient(
    45deg,
    #606dbc,
    #343b67 10px,
    #98466c 10px,
    #469851 20px
  ); */
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.301);
  /* border: 1px red solid; */
}

.headline-item {
  /* position: absolute; */
  /* overflow: auto; */
  overflow-y: hidden; /* Hide vertical scrollbar */

  /* margin: 5px 50px 0px 40px; */
  background-color: white;
  /* width: auto; */
  height: 95%;
  padding: 25px;
  /* border: 1px black solid; */
}

.headline-title {
  font-size: 1.6rem;
  line-height: 1.8rem;
  font-weight: 500;
  margin-right: 10px;
  margin-bottom: 0px;
  text-decoration: none;
  color: black;
  font-weight: 700;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.headline-title:hover {
  text-decoration: none;
  background-color: black;
  color: #0f0;
}

.headline-url,
.headline-details {
  font-size: 0.8rem;
  color: grey;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

/* FOOTER */
.firstFooter {
  color: white;
  background-color: #000000;
  position: relative;
  width: 50%;
  padding: 2em 2em;
  display: flex;
  justify-content: center;
  margin: auto;
}

.firstFooter p {
  color: #00ff00;
  text-decoration: none;
}

.firstFooter a {
  color: white;
  margin: 15px;
}

/* RESPONSIVE STYLES */

@media screen and (max-width: 1000px) {
  .items-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 800px) {
  .header input {
    width: 60%;
  }

  .headline-title {
    font-size: 1.2rem;
  }
  /* .main {
    width: 100%;
  } */
}

@media screen and (max-width: 600px) {
  .items-list {
    grid-template-columns: 1fr;
  }

  .header {
    flex-direction: column;
    align-items: center;
    margin: auto;
  }

} 

#prevButton {
  color: white;
  background-color: black;
  padding: 0 10px;
  margin: 0 10px;
}

#nextButton {
  color: white;
  background-color: black;
  padding: 0 10px;
  margin: 0 10px;
}

#pageNumber {
  padding: 0 10px;
  margin: 0 10px;
}
#firstPage {
  color: white;
  background-color: black;
  padding: 0 10px;
  margin: 0 10px;
}
#lastPage {
  color: white;
  background-color: black;
  padding: 0 10px;
  margin: 0 10px;
}

.pageButtons {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

  .header form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: auto;
  }

  .header input {
    background-color: black;
    height: 44px;
    width: 90%;
    border: 2px solid #0f0;
    color: white;
    font-size: 1.6rem;
  }

  .header form button {
    margin-left: 10px;
    padding: 10px 20px;
    /* border-radius: 7px; */
    background: rgb(34, 195, 61);
    background: linear-gradient(
      0deg,
      rgba(34, 195, 61, 1) 0%,
      rgba(77, 253, 45, 1) 100%
    );
    border: 0px;
    /* color: white; */
    font-size: 1rem;
  }

  /* .header #search-box {
    height: 2rem;
    padding: 5px;
    border-radius: 1px;
    font-size: 1.5 rem;
    width: 90%;
  } */

